# dependencies
/node_modules
/.pnp
.pnp.js
node_modules/

# testing
/coverage
.jest/

# production
/build
/web-build
/dist
build/
out/

# Expo
.expo/
.dev/
web-build/
dist/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native
.kotlin/
android/
ios/
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# misc
.DS_Store
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.tmp

# IDE files
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Old project files (if you want to keep them in the repo but not track changes)
/src
/public
/react-native-ecofarmcast

# Example files
app-example
