# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Gradle
.gradle/
build/
**/build/
!gradle-wrapper.jar
.gradle/caches/
.gradle/daemon/
.gradle/wrapper/
